.sidebar{
    position: fixed;
    top: 55px;
    left: 0px;
    bottom: 0px;
    width: 70px;
    border-right-width: 1px;
    border-right-style:solid ;
    border-right-color:rgb(248, 240, 240);
    background-color: white;


}
.sidebar-link{
    
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-link:hover{
    background-color: lightgrey;
}
.sidebar-link img {
    height: 26px;
    margin-bottom: 3px;
}
.sidebar-link div{
font-family: roboto,arial;
font-size: 10px;
}
